#timeline {
    width: 100%;
    height: 40px;
    position: relative;
    margin: 0 auto;
}

#timeline .timeline-axis path,
#timeline .timeline-axis line {
    stroke: #ccc;
    stroke-width: 1px;
}

#timeline .timeline-axis text {
    fill: #666;
    font-size: 12px;
    font-family: 'Monda', sans-serif;
} 